.card_detail{
    
    border: 2px solid blue
    
}

.container{
    height:100px;
    width: 300px;
    margin:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
img{
    width: 300px;
    height: 300px;
    margin:0;
    padding:0;
}
h5{
    text-align: center;
}
p{
    text-align: justify;
}